.gallery-tile {
    float: left;
}
.list-toolbar {
    padding: 6px 12px;
}

.list-toolbar .list-toolbar-content {
    margin: 9px;
}

.input-group-addon {
    color: #f9f9f9;
    background-color: #5cb85c;
}

.glyphicon {
    font-size: 16px;
}

.btn-success {
    padding-top: 8px;
    padding-bottom: 8px;
}