/* Images */
img.pull-right {
    border-radius: 6px;
}

/* Sidebar list-group-items */
.list-group-item {
    cursor: pointer;
}
.list-group-item:hover {
    background-color: #e7e7e7;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #5cb85c;
    border-color:  #5cb85c;
}
/* Panels in list layout views */
.panel-title {
    display: inline-block;
}
/* Tiles in grid layout views */
.grid-tile {
    float: left;
    margin: 3px;
    cursor: pointer;
}
.grid-tile .panel {
    margin-top: 3px;
    margin-bottom: 3px;
}
.grid-tile .panel-body {
    padding: 0;
    background-color: #5cb85c;
}
.grid-tile .panel-body img {
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.grid-tile:hover .panel-body img {
    opacity: .5;
}
.grid-tile .panel-footer {
    text-align: center;
    background-color: #dff0d8;
}

/* Toolbar used to filter returned lists and toggle layout of view */
.list-toolbar {
    padding: 6px 12px;
}

.list-toolbar .list-toolbar-content {
    margin: 9px;
}

.input-group-addon {
    color: #f9f9f9;
    background-color: #5cb85c;
}

.glyphicon {
    font-size: 16px;
}

.btn-success {
    padding-top: 8px;
    padding-bottom: 8px;
}