<div class="container">
    <h1>{{title}}</h1>
    <h2>Plants</h2>
    <section class="row">
        <div class="col-md-3">
            <ul class="categories list-group">
                <li *ngFor="let category of categories"
                    class="list-group-item"
                    [class.active]="category === selectedCategory"
                    (click)="onSelect(category)">
                    <span>{{category.id}}</span>
                    <span>{{category.name}}</span>
                </li>
            </ul>
        </div>
    </section>
</div>