<div class="container">
    <h1>{{title}}</h1>
    <h2>Plants</h2>
    <section class="row">
        <div class="col-md-3">
            <ul class="plants list-group">
                <li *ngFor="let plant of plants"
                    class="list-group-item"
                    [class.active]="plant === selectedPlant"
                    (click)="onSelect(plant)">
                    <span>{{plant.id}}</span>
                    <span>{{plant.name}}</span>
                </li>
            </ul>
        </div>
    </section>
</div>