<div *ngIf="category">
    <h2>List of {{category.name}}</h2>
    <div *ngFor="let plant of plants">
        <div *ngIf="category.name === plant.type">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ plant.name | slice:0:1 | uppercase }}{{ plant.name | slice:1 }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-9">
                            {{plant.description}}
                        </div>
                        <div class="col-md-3 hidden-sm hidden-xs" *ngIf="plant.image">
                            <img class="pull-right" src="{{plant.image}}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button (click)="gotoDetail(plant)">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>